@use "@/styles/index" as *;

.textComponentContainer {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;

  .textComponentContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    .textComponentLeftBlock {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      max-width: 722px;

      .textComponentTitle {
        font-family: $font-clash;
        font-size: 48px;
        font-weight: $font-weight-medium;
        line-height: 100%;
      }

      .textComponentSubtitle {
        font-size: 20px;
        font-weight: $font-weight-small;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 1220px) {
  .textComponentContainer {
    .textComponentContent {
      flex-direction: column;
      align-items: flex-start;
    }
    .textComponentImage {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 765px) {
  .textComponentContainer {
    .textComponentContent {
      .textComponentLeftBlock {
        .textComponentTitle {
          font-size: 2.5rem;
          line-height: 3rem;
        }
        .textComponentSubtitle {
          font-size: 24px;
        }
      }
    }
  }
}
