@use "@/styles/index" as *;

.footerContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 552px;
  background-image: url("/pictures/nasa.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  background: transparent;
  padding-bottom: 118px;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .footerLeft {
    display: flex;
    gap: 9px;

    .dot {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $gray-color-dark;
    }
  }

  .footerRight {
    display: flex;
    gap: 32px;

    a {
      font-size: 12px;
      font-weight: $font-weight-small;
      line-height: 100%;
      text-decoration: none;

      &:hover {
        color: $gray-color;
        transition: $transition-base;
      }
    }
  }
}

.footerCenter {
  display: flex;
  gap: 77px;

  a {
    font-size: 16px;
    font-weight: $font-weight-large;
    line-height: 100%;
    text-decoration: none;

    &:hover {
      color: $gray-color;
      transition: $transition-base;
    }
  }
}

.footerDivider {
  height: 1px;
  width: 100%;
  border: 1px solid $gray-color-dark;
}

@media (max-width: $breakpoint-medium) {
  .footerBottom {
    justify-content: center;

    .footerLeft {
      display: none;
    }

    .footerRight {
      a {
        font-size: 12px;
        font-weight: $font-weight-small;
        line-height: 100%;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .footerContentContainer {
    gap: 12px;
  }

  .footerCenter {
    gap: 20px;
  }

  .footerBottom {
    .footerRight {
      gap: 12px;
    }
  }
}
