@use "@/styles/index" as *;

.leaderboardTableContainer {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;

  .leaderBoardTable {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .leaderBoardTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      .leaderBoardTitle {
        font-family: $font-clash;
        font-size: 48px;
        font-weight: $font-weight-medium;
        line-height: 100%;
      }

      .leaderBoardSubtitle {
        font-size: 20px;
        font-weight: $font-weight-small;
        line-height: 32px;
      }
    }

    .tableWrapper {
      width: 100%;
      overflow-x: auto;

      scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.4);
        border-radius: 4px;
      }
    }

    .table {
      width: 100%;
      min-width: 960px;
      border-collapse: collapse;
      font-size: 16px;
      line-height: 100%;
    }

    .tableHeaderCell:nth-child(3) {
      text-align: left;
    }

    .tableHeaderCell {
      padding: 22px 12px;
      text-align: right;
      font-weight: $font-weight-large;
      white-space: nowrap;
    }

    .table td {
      padding: 26px 12px;
      text-align: right;
      white-space: nowrap;
    }

    .table td:nth-child(3) {
      text-align: left;
    }

    .table tbody tr:nth-child(odd) {
      background-color: #c9d9ff14;
    }
  }
}

@media (max-width: 765px) {
  .leaderboardTableContainer {
    height: 100vh;
    .leaderBoardTable {
      .leaderBoardTitleContainer {
        .leaderBoardTitle {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }
  }
}
